/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: rgb(47, 36, 44);
}

img {
  display: block;
  max-width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  /* border: 3px solid rgb(92, 122, 255); */
  border-radius: 0.7rem;
}

.title {
  width: max-content;
  margin-top: 1.5rem;
  margin-inline: auto;
  padding: 2rem;
  /* background: rgb(66, 190, 105); */
  border: 3px solid rgb(92, 122, 255);
  border-radius: 500px;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  /* width: 97%;
  max-width: 1400px; */
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-block: 1.5rem;
}

@media only screen and (max-width: 730px) {
  .img-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  .img-gallery {
    grid-template-columns: 1fr;
  }
}
